/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --white: hsl(0, 0%, 100%);

  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);

  --font-size: 15px;
  --font: "Outfit", sans-serif;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--slate-300);
  font-family: var(--font);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inner-wrapper {
  width: 320px;
  background-color: var(--white);
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.inner-wrapper .image {
  width: 280px;
  height: 280px;
  margin: 0 auto;
}

.inner-wrapper .image img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.inner-wrapper .text {
  padding: 10px;
}

.inner-wrapper .text p span {
  font-size: 25px;
  font-weight: 700;
  color: var(--slate-900);
}

.inner-wrapper .text p {
  font-size: var(--font-size);
  color: var(--slate-500);
  margin-top: 15px;
}

/* Media Query for Mobile View */
@media (max-width: 480px) {
  .outer-wrapper {
    padding: 20px;
  }
  .inner-wrapper {
    width: 100%;
    height: auto;
  }

  .inner-wrapper .image {
    width: 100%;
    height: auto;
  }
}
